# Python dependencies required for development
astunparse
expecttest
future
hypothesis
ninja
numpy
psutil
pytest
pyyaml
requests
scipy
setuptools
six
types-dataclasses
typing_extensions
dataclasses; python_version<"3.7"
