# Python dependencies required for development
astunparse
expecttest
hypothesis
numpy<2
psutil
pyyaml
requests
setuptools
types-dataclasses
typing-extensions
sympy<=1.12.1
filelock
networkx
jinja2
fsspec
# setuptools was removed from default python install
setuptools ; python_version >= "3.12"
