# Python dependencies required for development
astunparse
expecttest
hypothesis
future
ninja
numpy==1.23.1
psutil
pytest
pyyaml
requests
scipy
setuptools
six
types-dataclasses
typing_extensions
dataclasses; python_version<"3.7"
